* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: aliceblue;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(45, 43, 42),
    rgb(12, 48, 105)
  );
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #221304;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}
.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}
button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}
button.btn-equal {
  height: 130px;
}

/* Light theme */
.calculator {
  background-color: #eedcea;
}

.calculator #display {
  color: #23130a;
}

.calculator button.btn-clear {
  background-color: #c4b7a3;
  color: #32200e;
}

.calculator button.btn-number {
  background-color: #99b7c7;
  color: #000;
}

.calculator button.btn-operator {
  background-color: #7a6f6a;
  color: #2b180e;
}

.calculator button.btn-equal {
  background-color: #677468;
  color: #000;
}

/*Dark theme */

.calculator.dark {
  background-color: #0a1e23;
}
.calculator.dark #display {
  color: #a4d2df;
}

.calculator.dark button.btn-clear {
  background-color: #2d191e;
  color: #711313;
}

.calculator.dark button.btn-number {
  background-color: #283739;
  color: #fefefe;
}

.calculator.dark button.btn-operator {
  background-color: #3e2a23;
  color: #7c7773;
}
.calculator #display {
  color: #0a1e23;
}

.calculator.dark button.btn-equal {
  background-color: #192a38;
  color: #ffffff;
}
